/* ---------------------------------------------------------------  General Styles */
html {
    font-size: 16px;
}

body {
    font-family: "DM Sans", sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #E3E3E3;
    color:#111827;
}


p{
    font-family: "DM Sans", sans-serif;
    color: #4B5563;
}

#content{
    width: calc(100% - 2.5rem);
    height: calc(100vh - 2.5rem);
    margin: 1rem;
    padding: 1.2rem 1.2rem;
    border-radius: 1.2rem;
    background-color: white;
    box-sizing: border-box;
    
    display: flex;
    flex-direction: column;
    align-items: center;
}

#header{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.8rem;
}

#title {
    flex-grow: 1;
    text-align: left;
}

#title h1, #title p {
    margin: 0; 
    padding: 0; 
}

#graph-zone{
    width: 100%;
    height: 100%;
    margin-top: 1.2rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

/* ---------------------------------------------------------------  Filters Styles */
#filter-container {
    flex-grow: 2;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;
}

.filter{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:0.5rem;
}

/* --------------------------------------------------- Genders */
#gender-icons i, #sex-icons i {
    cursor: pointer;
    margin: 0.3rem;
    color: #E4E4E5; 
    font-size: 1.5rem;
}

#gender-icons i.selected, #sex-icons i.selected {
    color: #03305A;  
}

#gender-icons i:hover, #sex-icons i:hover {
    color:  #00597D;  
}

/* --------------------------------------------------- Age Range */
#slider-container {
    flex-grow: 1;
}

#age-slider{
    font-size: 0.6rem;
    flex-grow: 1;
    margin: 0 1rem;
}

.noUi-connect{
    background-color: #03305A;
}

.noUi-target .noUi-handle {
    width: 1.3rem;
}

.noUi-handle:hover{
    cursor: pointer;
}

.noUi-value{
    font-size: 0.5rem;
    color: #4B5563
}

.noUi-marker {
    background: rgb(221, 221, 221);
    width: 1px;
    height: 8px;
}

/* --------------------------------------------------- CLusters buttons */
.button {
    margin: 0 0.1rem;
    padding: 0.6rem 1rem;
    font-family: "DM Sans", sans-serif;
    color: #4B5563;
    cursor: pointer;
    border: none;
    border-radius: 0.4rem;
    border-bottom: 5px solid var(--cluster-color);
    background-color: #E9E9EA;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: var(--cluster-color);
    color: white;
}

.button.selected {
    background-color: var(--cluster-color);
    color: white;
}

/* --------------------------------------------------- Upload Button */

.upload-button {
    width: fit-content;
    margin: 0 0.1rem;
    padding: 0.6rem 1rem;
    font-family: "DM Sans", sans-serif;
    color: #4B5563;
    cursor: pointer;
    border: none;
    border-radius: 0.4rem;
    border-bottom: 5px solid #03305A;
    background-color: #E9E9EA;
    transition: background-color 0.3s;
}

.upload-button:hover {
    background-color: #03305A;
    color: white;
}

.upload-button i {
    margin-right: 0.5rem;
}

.upload-button:active {
    background-color: #00597D;
    color: white;
}

/* ---------------------------------------------------------------  Scatter plot*/
#scatter-zone {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 6; 
    margin: 0.8rem;
}

/* --------------------------------------------------- Tooltip */
.tooltip {
    position: absolute;
    top: 10px; /* Ajusta este valor según sea necesario */
    left: 10px; /* Ajusta este valor según sea necesario */

    text-align: left;
    width: auto;
    height: auto;
    padding: 0.5rem 0.7rem;
    font-size: 0.7rem;
    background: rgb(245, 245, 245);
    border: none;
    border-radius: 0.5rem;
    border-bottom: 5px solid var(--cluster-color);
    box-shadow: 0px 2px 5px rgba(0,0,0,0.2);
    opacity: 0;
    transition: opacity 0.3s;
}

.show {
    opacity: 0.9;
}

/* --------------------------------------------------- Dots */
.dot {
    cursor: pointer;
    transition: 0.1s;
}

.dot:hover, .dot.highlight{
    filter: drop-shadow(0 0 15px rgb(92, 92, 92));
    r: 0.5rem !important;
    /* fill: yellow !important; */
}

.dot.selected{
    r: 0.5rem !important;
    stroke: black;
    stroke-width: 1.5;
    filter: drop-shadow(0 0 9px rgb(32, 32, 32));
}

.dot.examine{
    r: 0.35rem !important;
    fill: green !important;
    stroke: black;
    stroke-width: 1.5;
    filter: drop-shadow(0 0 9px rgb(32, 32, 32));
}

.dot.nearby {
    stroke: black;
    stroke-width: 2px;
}

.dot.find-nearby1{
    stroke: gold;
    stroke-width: 2px;
}

.dot.find-nearby2{
    stroke: darkorchid;
    stroke-width: 2px;
}

.dot.nearby1, .dot.nearby2{
    r: 0.35rem !important;
    /* fill: #c505b2 !important; */
    /* fill: var(--fill) !important; */
    fill: gold !important;
    stroke: black;
    stroke-width: 1px;
}

.dot.nearby2{
    fill: darkorchid !important;
}



/* ---------------------------------------------------------------  Signal plot*/
#ecg-zone{
    flex: 5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
    gap: 1.3rem;
}

.ecg-content{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}

.ecg-content.graph{
    align-items: flex-start;
}

.header-content{
    margin: 0;
    width: 100%;
    height: fit-content;
    font-size: 0.7rem;
    box-sizing: border-box;
    background-color: #03305A;
    color: white;
    border-radius: 0.5rem 0.5rem 0px 0px;
    padding: 0.2rem 0.8rem;
}

.nearby{
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

#nearby3{
    display: flex;
    gap: 0.5rem;
}

/* --------------------------------------------------- ECG Signal */

.ecg{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items:flex-start;
    padding: 1%;
    box-sizing: border-box;

    background: rgb(245, 245, 245);
    border: none;
    border-radius: 0.5rem;
    border-bottom: 7px solid var(--fill);

    box-shadow: 0px 2px 5px rgba(0,0,0,0.2);
}

.ecg-info {
    margin: 0.5rem;
    height: fit-content;
    width: 12%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 0.5rem;
    box-sizing: border-box;
}

.ecg-plot {
    flex:2;
}

.ecg.highlight {
    background-color: rgb(191, 201, 245);
}

.line{
    fill: none;  
    stroke: #03305A; 
    stroke-width: 2px;
}

.line.highlight{
    stroke: aqua;
}

.axis line {
    stroke: #4B5563;
    stroke-width: 1px;
}

.axis path {
    stroke: #4B5563;
    stroke-width: 1px;
}

.axis text {
    font-family: "DM Sans", sans-serif;
    font-size: 0.6rem;
    fill: #4B5563;
}

/* --------------------------------------------------- Informations blocks */
.info-block{
    font-size: 0.6rem;
    padding: 0.5rem 0.5rem;
    text-align: center;
    border-radius: 0.3rem;
    background-color: #E9E9EA;
    /* display: flex;
    gap: 0.5rem; */
}

.ecg-info p{
    font-size: 0.6rem;
    margin: 0;
}

.modal{
    display: none;
    height: 50%;
    width: 40%;
    position: fixed;
    top: 50%; /* Ajusta este valor según sea necesario */
    left: 50%; /* Ajusta este valor según sea necesario */
    transform: translate(-50%, -50%);
    z-index: 1000; 

    padding: 2rem 4rem;
    font-size: 0.7rem;
    background: rgb(245, 245, 245, 0.95);
    border: none;
    border-radius: 0.9rem;
    border-bottom: 5px solid #03305A;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.2);
    opacity: 0;
    transition: opacity 0.5s;
}

.modal.show {
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.9;
}

.modal label{
    font-size: 1rem;
}

#form-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

#upload-op{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

#age {
    width: 20%;
    font-family: "DM Sans", sans-serif;
    color: #4B5563;
    border: 1px solid #ccc;
    border-radius: 0.3rem;
    padding: 6px 12px;
    background-color: white;
    box-sizing: border-box;
    text-align: center;
}



form{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 50%;
    gap: 0.5rem;
}

input[type="file"] {
    display: none;
}
/* Style the label as the custom button */
.custom-file-upload {
    width: 100%;
    height: 100%;
    border: 1px dashed #ccc;
    border-radius: 0.5rem;
    margin: 1rem;
    margin-bottom: 0;
    text-align: center;
    cursor: pointer;
    background-color: #E9E9EA;
    box-sizing: border-box;

    display: flex;
    align-items: center;
    justify-content: center;
}



/* #nearby-ecg-slider{
    width: 30%;
    font-size: 0.6rem;

} */

/* #slider-n{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.6rem;
} */

.send-to-container{
    width: 100%;
    display: none;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    padding: 5px;
    opacity: 0;
    transition: opacity 0.5s;
}

.send-to-container.show {
    display: flex;
    opacity: 0.9;
}

#notification {
    position: fixed;
    bottom: 2.5rem;
    right: 2rem;
    padding: 1rem 1.5rem;
    background-color: rgba(0, 128, 0, 0.8);
    color: white;
    z-index: 1000; 


    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 0.5rem;

    border: none;
    border-radius: 0.5rem;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.2);
    opacity: 0;
    transition: opacity 0.5s;
}

#notification.warning{
    background-color: rgba(255, 85, 0, 0.949);
}

#notification.alert{
    background-color: rgba(148, 0, 0, 1);
}



#notification.show {
    opacity: 0.9;
}

#text-not{
    /* font-family: "DM Sans", sans-serif; */
    color: white;
    margin: 0;
}

.loader {
    display: none;
    border: 16px solid #f3f3f3;
    border-top: 16px solid #03305A;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    margin: 100px auto;
  }

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }


  .fa{
    align-content: center;
  }

  #minimap-container {
    position: absolute;
    z-index: 500; 
    bottom: 2.5rem;
    left: 2rem;
    border: 1px solid #ccc;
    border-radius: 0.4rem;
    box-shadow: 0px 5px 6px rgba(0,0,0,0.2);
  }
  #minimap {
    background: rgb(245, 245, 245, 0.6);
    pointer-events: none;
  }



.viewRect{
    z-index: 1000; 

    
}