<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Interactive ECG Visualization</title>
    
    <!-- Font from Google xd --> 
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap" rel="stylesheet">
    
    <!-- Import Icons -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">
    
    <!-- Incluir noUiSlider desde CDN -->
    <link href="https://cdn.jsdelivr.net/npm/nouislider/distribute/nouislider.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/nouislider/distribute/nouislider.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chroma-js@2.1.0/chroma.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
    
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div id="notification"><i id="icon-message" class="fa" aria-hidden="true"></i><p id="text-not">Esto es un texto de ejemplo</p></div>
    <div id="content">
        <div id="header">
            <div id="title">
                <h1>Interactive ECG Visualization</h1>
                <p>Customized interface to visualize complex collections of objects</p>
            </div>
            <div id="filter-container">
                <div class="filter" id="gender-icons">
                    <p>Sex: </p>
                    <i class="fa fa-users selected" data-sex="ALL" title="All"></i>
                    <i class="fa fa-person-dress" data-sex="Women" title="Womens"></i>
                    <i class="fa fa-person" data-sex="Men" title="Mens"></i>
                </div>
                
                <div class="filter" id="slider-container">
                    <p>Age: </p>
                    <div id="age-slider"></div>
                </div>
                <div class="filter" id="button-container"></div>
                <!-- <form id="upload-form" action="/upload" method="post" enctype="multipart/form-data">
                    <input type="file" id="file-input" name="file" style="display: none;">
                </form> -->
                <button id="upload-button" class="upload-button">
                    <i class="fa fa-upload"></i> Upload ECG
                </button>
            </div>
        </div>
        <div id="graph-zone">
            <div id="ecg-zone">

                <div class="ecg-section">
                    <div class="ecg-block" id="nearby0">
                       <div class="ecg-header">
                           <h3>Selected Point</h3>
                           <div class="ecg-info"></div>
                       </div>
                       <div class="ecg">
                           <div class="ecg-plot"></div>
                       </div>
                    </div>
                </div>

                <div class="ecg-section" id="ecg-inspect">
                    <div class="ecg-block" id="nearby3">
                       <div class="ecg-header">
                           <h3>Inspect Point</h3>
                           <div class="ecg-info"></div>
                           <div class="send-to-container">
                            <button class="button send-button" send-to="1" style="--color: darkred;">Select as Super Near</button>
                            <button class="button send-button" id="send-button2" send-to="2" style="--color: lightsalmon;">Select as Near</button>
                        </div>
                       </div>
                       <div class="ecg">
                           <div class="ecg-plot"></div>
                       </div>
                    </div>
                </div>

                 <div class="ecg-section">
                     <div class="ecg-block" id="nearby1">
                        <div class="ecg-header">
                            <h3>Super Near Point</h3>
                            <div class="ecg-info"></div>
                        </div>
                        <div class="ecg">
                            <div class="ecg-plot"></div>
                        </div>
                     </div>
    
                     <div class="ecg-block" id="nearby2">
                        <div class="ecg-header">
                            <h3>Near Point</h3>
                            <div class="ecg-info"></div>
                        </div>
                        <div class="ecg">
                            <div class="ecg-plot"></div>
                        </div>
                     </div>
                 </div>
            </div>

            <div id="scatter-zone">
                <p id="noneCluster" style="display: none;">Please, select one cluster</p>
                <div id="scatter-plot" style="display: block;"></div>
            </div>
        </div>
    </div>
    <div class="tooltip"></div>
    <div id="minimap-container" style="width: 80px; height: 80px;">
        <svg id="minimap"></svg>
    </div>
    <div class="modal">
        <div id="result-container">
            <h1>Ta-da! ✨ <span>Here are your results</span></h1>
            <h2></h2>
            <div id="results-box">
                <div class='result' id="result-age">
                    <!-- <h1>55</h1> -->
                    <p class="p-result" id="p-age">55</p>
                    <p>years</p>
                </div>
                <div class='result' id="result-sex">
                    <i id="i-sex" class="fa fa-person-dress"></i>
                    <p id="p-sex">Sexo</p>
                </div>
                <div class='result' id="result-prediction">
                    <p class="p-result" id="p-prediction">NORM</p>
                    <p>Prediction</p>
                </div>
            </div>
            <button class="button" id="go-explore" style="--color: #03305A;">Go and explore!</button>
        </div>


        <div id="loader-container">
            <div id="loader" class="loader"></div>
            <h2>Hang on a sec! We're giving your ECG a high-tech checkup... 🔍</h2>
        </div>
        <div id="form-container">
            <div class="section-container">
                <label for="csv" class="custom-file-upload" id="file-upload">
                    Choose your file
                </label>
                <span id="file-name"></span>
            </div>

            <div class="section-container">
                <h1>Let's Dive In!</h1>
                <h3>Upload your new ECG Signal here</h3>
                <form id="ecgForm" method="post" action="/upload" enctype="multipart/form-data">
                    <div id="options-container">
                        <input type="hidden" id="sex" name="sex">
                         <div class="option-container">
                            <p>Sex</p>
                             <div id="sex-icons">
                                 <i class="fa fa-person-dress selected" data-sex="Women" title="Womens"></i>
                                 <i class="fa fa-person" data-sex="Men" title="Mens"></i>
                             </div>
                         </div>

                         <div class="option-container">
                            <p>Age</p>
                            <input type="number" id="age" name="age" min="1" step="1" value="24">
                         </div>
                        
                    </div>
                    <input type="file" id="csv" name="csv" accept=".csv">
                    
                    <input class="upload-button" id="upload-info" type="button" value="Submit">
                </form>
            </div>

        </div>
    </div>
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <script src="{{ url_for('static', filename='upload.js') }}"></script>
</body>
</html>
